*,::after,::before{
    box-sizing: border-box;
}

.dark-theme {
    --primary-color: #2567ff;
    --accent-color: #e3ecff;
    --body-color: #1e1f24;
    --container-color: #28292e;
    --field-color: #1e1f24;
    --text-color: #FFF;
    --text-color-msg: #e3ecff;
    --text-color-error: #ff5666;
}

:root {
    --primary-color: #2567ff;
    --accent-color: #e3ecff;
    --body-color: #EDF0F4;
    --container-color: #FFF;
    --field-color: #F5F5F5;
    --text-color: #464853;
    --text-color-msg: #2567ff;
    --text-color-error: #ff5666;
}



body{
    margin: 0;
    background-color: var(--body-color);
    color: var(--text-color);
    width: 100%;
    font-size: 0.95rem;
    font-family: 'Inter';
}
p, h1{
    margin: 0;
}
main{
    max-width: 325px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--container-color);
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
}
.field__text{
    display: flex;
    align-items: center;
    gap: 0.85rem;
    background-color: var(--field-color);
    border-radius: 30px;
    padding: 0.85rem 1rem;
}

.field__input-text{
    border: none;
    outline: none;
    background-color: #FFF0;
    color: inherit;
    font-family: inherit;
}

.choose-unit__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.field__radio{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.field__input-radio {
    accent-color: var(--primary-color);
}

.separator {
    align-items: center;
    display: flex;
    position: relative;
}

.separator__content {
    background: var(--container-color);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 0 1rem;
}

.separator__line {
    border-bottom: 1px solid #50505014;
    height: 1px;
    width: 100%;
}

.button {
    width: 100%;
    background-color: #FFF0;
    font-family: inherit;
    border-radius: 30px;
    padding: 0.85rem;
    border: none;
    outline: none;
    cursor: pointer;
}

.button--primary {
    background-color: var(--primary-color);
    color: #FFF;
}

.button--secondary {
    background-color: var(--accent-color);
    color: var(--primary-color);
}







.weather__container{
    width: 100%;
    background-color: var(--container-color);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    border-radius: 20px;
    text-align: center;
}
.weather__icon{
    font-size: 2rem;
    color: var(--primary-color);
}
.weather__main{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
    justify-content: center;
}
.main__temperature{
    font-size: 3rem;
}
.weather__text--small{
    text-transform: capitalize;
    color: #808080;
    margin: 0.5rem 0;
}
.weather__data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
}
.data__item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}
.data__description{
    font-size: 0.75rem;
    color: #808080;
}

.weather__msg--normal {
    color: var(--text-color-msg);
    text-align: center;
}
.weather__msg--error {
    text-transform: capitalize;
    color: var(--text-color-error);
    text-align: center;
}


.spinner__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.9rem;
}
.spinner__circle {
    border: 2px solid;
    width: 40px;
    height: 40px;
    border-color: var(--primary-color) rgba(0,0,0,.1) rgba(0,0,0,.1);
    border-radius: 50%;
    display: inline-block;
    animation: spinner 750ms linear infinite;
}
  
@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
}



.btn__toggle-theme {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background-color: var(--primary-color);
    padding: 1rem;
    font-size: 1.5rem;
    border-radius: 50%;
    color: #FFF;
    cursor: pointer;
}